// main: ../w3.less

// TODO: not processed

.w3-btn,
.w3-button 
{
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover 
  {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .w3-disabled,
  &:disabled,
  {
    cursor: not-allowed;
    opacity: 0.3;
    &:hover
    {
      box-shadow: none;
    }
    *
    {
      pointer-events: none;
    }
  }

}