// main: ../w3.less

html,
body 
{
  font-family: @font-family;
  font-size:   @font-size;
  line-height: @line-height;
}

.w3-sans {      font-family: @ff-sans;      }
.w3-serif {     font-family: @ff-serif;     }
.w3-condensed { font-family: @ff-condensed; }
.w3-mono {      font-family: @ff-mono;      }

.w3-wide {
  letter-spacing: @wide-lt-spc;
}