// main: ../w3.less

h1, .w3-head-1 { font-size: @h1-font-size; }
h2, .w3-head-2 { font-size: @h2-font-size; }
h3, .w3-head-3 { font-size: @h3-font-size; }
h4, .w3-head-4 { font-size: @h4-font-size; }
h5, .w3-head-5 { font-size: @h5-font-size; }
h6, .w3-head-6 { font-size: @h6-font-size; }

h1, .w3-head-1, 
h2, .w3-head-2,
h3, .w3-head-3,
h4, .w3-head-4,
h5, .w3-head-5,
h6, .w3-head-6 
{
  font-family: @headings-family;
  font-weight: @headings-weight;
  margin:      @headings-margin;
}
