// main: ../w3.less

img 
{
  vertical-align: middle;
  border: 0;
}

.w3-image 
{
  max-width: 100%;
  height: auto
}

.w3-thumb 
{
  border: 1px solid @cl-gray-d;
  border-radius: @border-radius-s;
  padding: 5px;
  &:hover {
    box-shadow: 0 0 2px 1px @cl-focus;
  }
}
