// main: ../w3.less

a,
.w3-link
{
  color: @link-normal-color;
  text-decoration: @link-normal-underline;
  &:hover
  {
    color: @link-over-color;
    text-decoration: @link-over-underline;
  }
  &:active
  {
    color: @link-active-color;
  }
  &:visited
  {
    color: @link-visited-color;
    text-decoration: @link-visited-underline;
  }
}