// main: ../w3.less

// TODO: not processed

.w3-ul {
  list-style-type: none;
  padding: 0;
  margin: 0
}

.w3-ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd
}

.w3-ul li:last-child {
  border-bottom: none
}