// main: ../w3.less

.w3-table,
.w3-table-all {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;

  th:first-child,
  td:first-child 
  {
    padding-left: @table-firstchild-padding;
  }

  td,
  th 
  {
    padding: @table-cell-padding;
    display: table-cell;
    text-align: left;
    vertical-align: top;
  }    
}

.w3-bordered
{
  tr
  {
    border-bottom: @table-border-width @table-border-style @table-border-color;
  }
}

.w3-striped
{
  tbody tr:nth-child(odd) {
    background-color: @table-odd-color;
  }
  tbody tr:nth-child(even) {
    background-color: @table-even-color;
  }
}

.w3-table-all 
{
  border: @table-border-width @table-border-style @table-border-color;
  tr
  {
    border-bottom: @table-border-width @table-border-style @table-border-color;
    &:nth-child(odd) {
      background-color: @table-odd-color;
    }
    &:nth-child(even) {
      background-color: @table-even-color;
    }
  }
}

.w3-hoverable tbody tr:hover,
.w3-ul.w3-hoverable li:hover 
{
  background-color: @table-over-color;
}

.w3-centered
{ 
  tr 
  {
    th,
    td 
    {
      text-align: center
    }
  }
}


