// main: ../w3.less


@cl-black:   #141517;
@cl-gray:    #717783;
@cl-white:   #dce8ff;
@cl-brown:   #533b39;
@cl-red:     #9b121d;
@cl-orange:  #c44b13;
@cl-yellow:  #e4a701;
@cl-citrus:  #b6db11;
@cl-green:   #449b12;
@cl-teal:    #129b57;
@cl-cyan:    #22a1b8;
@cl-blue:    #136297;
@cl-violet:  #3c2474;
@cl-purple:  #622472;
@cl-fuschia: #811d4c;
@cl-pink:    #b14778;

@cl-white-d:   darken(  @cl-white,   12% );
@cl-black-l:   lighten( @cl-black,   12% );
@cl-gray-d:    darken(  @cl-gray,    12% );
@cl-gray-l:    lighten( @cl-gray,    12% );
@cl-brown-d:   darken(  @cl-brown,   12% );
@cl-brown-l:   lighten( @cl-brown,   12% );
@cl-red-d:     darken(  @cl-red,     12% );
@cl-red-l:     lighten( @cl-red,     12% );
@cl-orange-d:  darken(  @cl-orange,  12% );
@cl-orange-l:  lighten( @cl-orange,  12% );
@cl-yellow-d:  darken(  @cl-yellow,  12% );
@cl-yellow-l:  lighten( @cl-yellow,  12% );
@cl-citrus-d:  darken(  @cl-citrus,  12% );
@cl-citrus-l:  lighten( @cl-citrus,  12% );
@cl-green-d:   darken(  @cl-green,   12% );
@cl-green-l:   lighten( @cl-green,   12% );
@cl-teal-d:    darken(  @cl-teal,    12% );
@cl-teal-l:    lighten( @cl-teal,    12% );
@cl-cyan-d:    darken(  @cl-cyan,    12% );
@cl-cyan-l:    lighten( @cl-cyan,    12% );
@cl-blue-d:    darken(  @cl-blue,    12% );
@cl-blue-l:    lighten( @cl-blue,    12% );
@cl-violet-d:  darken(  @cl-violet,  12% );
@cl-violet-l:  lighten( @cl-violet,  12% );
@cl-purple-d:  darken(  @cl-purple,  12% );
@cl-purple-l:  lighten( @cl-purple,  12% );
@cl-fuschia-d: darken(  @cl-fuschia, 12% );
@cl-fuschia-l: lighten( @cl-fuschia, 12% );
@cl-pink-d:    darken(  @cl-pink,    12% );
@cl-pink-l:    lighten( @cl-pink,    12% );

@cl-disabled:  @cl-gray-l;
@cl-error:     @cl-red;
@cl-fail:      @cl-red;
@cl-focus:     @cl-cyan;
@cl-important: @cl-fuschia;
@cl-info:      @cl-cyan;
@cl-negative:  @cl-red;
@cl-positive:  @cl-green;
@cl-primary:   @cl-blue;
@cl-secondary: @cl-teal;
@cl-success:   @cl-green;
@cl-tertiary:  @cl-gray-d;
@cl-warning:   @cl-orange;