//main: ../w3.less


// fonts
@ff-sans:      'Roboto', sans-serif;
@ff-condensed: 'Roboto Condensed', sans-serif;
@ff-serif:     'Roboto Slab', serif;
@ff-mono:      'Roboto Mono', monospace;

@font-family:   @ff-sans;
@font-size:     0.95em;
@line-height:   1.5;

// fonts -wide
@wide-lt-spc:  4px;

// border radius
@border-radius-s: 4px;
@border-radius-m: @border-radius-s * 2;
@border-radius-l: @border-radius-s * 4;

// headings
@h1-font-size: 36px;
@h2-font-size: @h1-font-size * 0.84;
@h3-font-size: @h1-font-size * 0.67;
@h4-font-size: @h1-font-size * 0.56;
@h5-font-size: @h1-font-size * 0.5;
@h6-font-size: @h1-font-size * 0.45;
@headings-family: @ff-condensed;
@headings-margin: 10px 0;
@headings-weight: 400;

// spacer
@spacer-width: 1px;
@spacer-style: solid;
@spacer-color: @cl-white-d;
@spacer-margin: 1.2em 0;

// link
@link-normal-color: @cl-blue-d;
@link-normal-underline: underline;
@link-over-color: @cl-blue-l;
@link-over-underline: underline;
@link-active-color: @cl-fuschia;
@link-visited-color: @cl-violet;
@link-visited-underline: underline;

// table
@table-odd-color: @cl-white;
@table-even-color: @cl-white-d;
@table-border-color: @cl-gray-l;
@table-border-style: solid;
@table-border-width: 1px;
@table-over-color: @cl-gray;
@table-firstchild-padding: 16px;
@table-cell-padding: 8px;